// Colors
$black: #000000;
$blue: #0078ff;;
$green: #5affcb;
$red: #ff8c8f;
$white: #ffffff;

// Fonts
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;
$vollkorn: 'Vollkorn', serif;

// Mixins
// ...